#accordion {
  background-color:#F0F0F0;
  width: 500px;
}
/* accordion header */
#accordion h2 {
  border: #F0F0F0 1px solid;
  cursor:pointer;
}
/* accordion pane */
#accordion div.pane {
  border:1px solid #fff;
  display:none;
  height:250px;
}
